<% content_for :title, 'Home' %>

<div class='container'>
  <h1>Top Projects</h1>

  <table class='table table-hover table-bordered shadow p-3 mb-5 bg-white rounded'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Total Payments</th>
        <th>Hours Logged</th>
      </tr>
    </thead>

    <tbody>
      <% @top_projects.each do |project| %>
        <tr>
          <td><%= project.name %></td>
          <td><%= project.total_payments %></td>
          <td><%= project.hours_logged %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h1>Bottom Projects</h1>

  <table class='table table-hover table-bordered shadow p-3 mb-5 bg-white rounded'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Total Payments</th>
        <th>Hours Logged</th>
      </tr>
    </thead>

    <tbody>
      <% @bottom_projects.each do |project| %>
        <tr>
          <td><%= project.name %></td>
          <td><%= project.total_payments %></td>
          <td><%= project.hours_logged %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
