<%= form_for @project.comments.new, url: path_method(:create, :comment, @project), method: :post, remote: true do |form| %>
  <div class='form-group'>
    <%= form.label :message %>
    <%= form.text_area :message, id: 'comment_body', class: 'form-control', required: true %>
    <%= form.hidden_field :commenter_id, value: current_user.id %>
  </div>

  <div class='form-group d-inline'>
    <%= form.submit 'Write Comment', class: 'btn btn-success' %>
  </div>

  <div class='alert alert-danger comment-error-display-none'>
    Comment can't be blank.
  </div>
<% end %>
