<h1>Projects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Details</th>
      <th>Role</th>
      <th colspan='3'></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.email %></td>
        <td><%= project.role %></td>
        <% if project.enable %>
          <td><%= link_to 'Disable' %></td>
        <% else %>
          <td><%= link_to 'Enable' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
