<div class='container'>

<h2>Search Result</h2>

  <table class='table table-hover'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @results.each do |client| %>
        <tr>
          <td><%= client.name %></td>
          <td><%= client.email %></td>
          <td>
            <%= link_to fa_icon('eye'), client_path(client), class: 'col-md-6', title: 'See Profile' %>

            <% if current_user.admin? %>
              <%= link_to fa_icon('pencil-square-o'), edit_admin_client_path(client), class: 'col-md-6', title: 'Edit Profile' %>
              <%= link_to fa_icon('trash'), admin_client_path(client), method: :delete, data: { confirm: 'Are you sure?' }, class: 'col-md-6', title: 'Delete' %>
            <% elsif current_user.manager? %>
              <%= link_to fa_icon('pencil-square-o'), edit_manager_client_path(client), class: 'col-md-6', title: 'Edit Profile' %>
              <%= link_to fa_icon('trash'), manager_client_path(client), method: :delete, data: { confirm: 'Are you sure?' }, class: 'col-md-6', title: 'Delete' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
