<% content_for :title, 'Client Profile' %>

<div class='container'>
  <div class='show-space'>
    <% if current_user.admin? %>
      <%= link_to fa_icon('arrow-left'), admin_clients_path, class: 'btn btn-info' %>
      <%= link_to fa_icon('pencil-square-o'), edit_admin_client_path, class: 'btn btn-info' %>
    <% elsif current_user.manager? %>
      <%= link_to fa_icon('arrow-left'), manager_clients_path, class: 'btn btn-info' %>
      <%= link_to fa_icon('pencil-square-o'), edit_manager_client_path, class: 'btn btn-info' %>
    <% end %>
  </div>
  <div class='d-flex justify-content-center h-100 d-table'>
    <table class='table text-center'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Address</th>
        </tr>
      </thead>

      <tbody>
        <td><%= @client.name %></td>
        <td><%= @client.email %></td>
        <td><%= @client.address %></td>
      </tbody>
    </table>
  </div>
</div>
