<% content_for :title, 'Client Profile' %>

<div class='container'>
  <div class='margin_bottom_10'>
    <% if current_user.admin? %>
      <%= link_to fa_icon('arrow-left'), admin_clients_path, class: 'btn btn-info', title: 'Back' %>
      <%= link_to fa_icon('pencil-square-o'), edit_admin_client_path, class: 'btn btn-info', title: 'Edit Client' %>
    <% elsif current_user.manager? %>
      <%= link_to fa_icon('arrow-left'), manager_clients_path, class: 'btn btn-info', title: 'Back' %>
      <%= link_to fa_icon('pencil-square-o'), edit_manager_client_path, class: 'btn btn-info', title: 'Edit Client' %>
    <% end %>
  </div>
  <div>

    <div class='shadow p-3 mb-5 mt-5 bg-white rounded'>
      <p><span><b>Name: </b></span><%= capitalize(@client.name) %></p>
      <p><span><b>Email: </b></span><%= capitalize(@client.email) %></p>
      <p><span><b>Address: </b></span><%= capitalize(@client.address) %></p>
    </div>

    <h3>Projects:</h3>

    <table class='table table-bordered'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Details</th>
        </tr>
      </thead>

      <tbody>
        <% if @projects.present? %>
          <% @projects.each do |project| %>
            <tr>
              <td><%= project.name %></td>
              <td><%= project.details %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
