<div>
  <table class='table table-hover'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% projects.each do |project| %>
        <tr>
          <td><%= project.name %></td>
          <td>
            <%= link_to fa_icon('eye'), generic_path_method('show', 'project', project), class: 'col-md-6', title: 'See Profile' %>
            <% if current_user.manager? || current_user.admin? %>
              <%= link_to fa_icon('pencil-square-o'), generic_path_method('edit', 'project', project), class: 'col-md-6', title: 'Edit Profile' %>
              <%= link_to fa_icon('trash'), generic_path_method('destroy', 'project', project), method: :delete, data: { confirm: 'Are you sure?' }, class: 'col-md-6', title: 'Delete' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate projects %>
</div>
