<% content_for :title, 'Projects' %>

<div class='container'>
  <div class='row'>
    <% if current_user.admin? || current_user.manager? %>
      <div class='form-group col-md-6'>
        <%= link_to fa_icon('user-plus'), path_method(:new, :project, nil), class: 'btn btn-primary', title: 'Create Project' %>
      </div>
    <% end %>
  </div>
  <h1>Projects</h1>

  <table class='table table-hover'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.name %></td>
          <td>
            <%= link_to fa_icon('eye'), path_method(:show, :project, project), class: 'col-md-6', title: 'See Profile' %>
            <% if current_user.manager? || current_user.admin? %>
              <%= link_to fa_icon('pencil-square-o'), path_method(:edit, :project, project), class: 'col-md-6', title: 'Edit Profile' %>
              <%= link_to fa_icon('trash'), path_method(:destroy, :project, project), method: :delete, data: { confirm: 'Are you sure?' }, class: 'col-md-6', title: 'Delete' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @projects %>
</div>
