<% content_for :title, 'Projects' %>

<div class='container'>
  <div class='row'>
    <% if current_user.admin? || current_user.manager? %>
      <div class='form-group col-md-6'>
        <%= link_to fa_icon('user-plus'), generic_path_method('new', 'project'), class: 'btn btn-primary', title: 'Create Project' %>
      </div>
    <% end %>
  </div>

  <div class='form-group float-right'>
    <%= form_tag(generic_path_method('index', 'project'), method: :get, remote: true) do %>
      <div class='input-group active-cyan-4 mb-4'>
        <%= search_field_tag :query, params[:query], placeholder: 'Search', class: 'form-control' %>
        <div class='input-group-btn ml-3'>
          <%= button_tag "", class: 'btn btn-info fa fa-search' %>
        </div>
      </div>
    <% end %>
  </div>


  <h1>Projects</h1>

  <div class='all_projects'>
    <%= render 'projects_table', projects: @projects %>
  </div>
</div>
