<% content_for :title, 'Project Details' %>

<div class='container'>
  <div>
    <h2 class='d-inline'>Project Details</h2>
    <% if current_user.admin? || current_user.manager? %>
      <%= link_to fa_icon('pencil-square-o'), generic_path_method('edit', 'project', @project), class: 'btn btn-info float-right', title: 'Edit Project' %>
    <% end %>
    <hr class='my-hr'>

    <div class='shadow p-3 mb-5 bg-white rounded'>
      <p><span><b>Name: </b></span><%= capitalize(@project.name) %></p>
      <p><span><b>Details: </b></span><%= capitalize(@project.details) %></p>
      <p><span><b>Manager: </b></span><%= capitalize(@project.manager.name) if @project.manager %></p>
      <p><span><b>Client: </b></span><%= capitalize(@project.client.name) if @project.client %></p>
      <p>
        <span><b>Resources: </b>
          <% @project.resources.each do |resource| %>
            <%= capitalize(resource.name) if resource %>
          <% end %>
        </span>
      </p>
      <% if current_user.admin? || current_user.manager? %>
        <p>
          <span><b>Total Payments: </b></span>
          <span class='project_total_payments_class'><%= project_total_payments(@project) %></span> $
        </p>
      <% end %>
      <p>
        <span><b>Total Hours Logged: </b></span>
        <span class='project_hours_logged_class'><%= project_hours_logged(@project) %></span> Hours
      </p>
    </div>
  </div>

  <div>
    <% if current_user.manager? || current_user.admin? %>
      <h3 class='d-inline'>Payments</h3>
      <%= link_to fa_icon('plus'), generic_path_method('new', 'project_payment', @project), remote: true, class: 'btn btn-primary' %>
      <div class='mb-5 mt-3'>
        <%= render 'payments/payment_table', payments: @payments %>
      </div>
    <% end %>
  </div>

  <div>
    <h3 class='d-inline'>Time Logs</h3>
    <%= link_to fa_icon('plus'), generic_path_method('new', 'project_time_log', @project), remote: true, class: 'btn btn-primary' %>
    <div class='mb-5 mt-3'>
      <%= render 'time_logs/time_log_table', time_logs: @time_logs %>
    </div>
  </div>

  <div>
    <h3 class='d-inline'>Attachments</h3>
    <%= link_to fa_icon('plus'), new_attachment_path(attachable_id: @project.id, attachable_type: @project.class.to_s), remote: true, class: 'btn btn-primary' %>
    <div class='mb-5 mt-3'>
      <%= render 'attachments/attachment_table', attachments: @attachments %>
    </div>
  </div>

  <div>
    <h3>Comments</h3>
    <div class='comment_box_size shadow p-3 mb-5 bg-white rounded'>
      <%= render 'comments/all_comments', comments: @comments %>
    </div>
      <%= render 'comments/new_form', project: @project %>
  </div>
</div>

<%= render 'shared/modal' %>
