<% content_for :title, 'Client Profile' %>

<div class='container'>
  <div class='row'>
    <div class='form-group  col-md-6'>
      <%= link_to new_client_manager_users_path, class: 'btn btn-success' do %>
        <% fa_icon 'user-plus', text: 'Create Client' %>
      <% end %>
    </div>
  </div>
  <h1>Clients</h1>

  <table class='table table-hover'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Projects</th>
        <th colspan='4'></th>
      </tr>
    </thead>

    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td><%= client.name %></td>
          <td><%= client.email %></td>
          <td></td>
          <td>
            <div class='float-right'>
              <%= link_to fa_icon('eye'), show_client_manager_user_url(client.id), method: :get, class: 'col-md-6' %>
              <%= link_to fa_icon('pencil-square-o'), edit_client_manager_user_url(client.id), method: :get, class: 'col-md-6' %>
              <%= link_to fa_icon('trash'), destroy_client_manager_user_url(client.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'col-md-6' %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
