<% content_for :title, 'Client Profile' %>

<div class='container'>
  <h1>Client</h1>
  <table class='table'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Address</th>
        <th>Cnic</th>
        <th>Phone Number</th>
        <th colspan='3'></th>
      </tr>
    </thead>

    <tbody>
      <td><%= @client.name %></td>
      <td><%= @client.email %></td>
      <td><%= @client.role %></td>
      <td><%= @client.address %></td>
      <td><%= @client.cnic %></td>
      <td><%= @client.phone_number %></td>
    </tbody>
  </table>
  
  <%= link_to fa_icon('arrow-left', text: 'Back'), clients_manager_users_path, class: 'btn btn-info' %>
  <%= link_to fa_icon('pencil-square-o', text: 'Edit Profile'), edit_client_manager_user_path, class: 'btn btn-info' %>
</div>
