<% content_for :title, 'Client Profile' %>

<div class='container'>
  <div class='row'>
    <div class='form-group col-md-6'>
      <%= link_to new_project_path(id: @client), class: 'btn btn-success' do %>
        <% fa_icon 'user-plus', text: 'Create Project' %>
      <% end %>
    </div>
  </div>
  <h1>Client Details</h1>
  
  <table class='table'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Cnic</th>
        <th>Phone Number</th>
        <th>Projects</th>
        <th colspan='7'></th>
      </tr>
    </thead>

    <tbody>
      <td><%= @client.name %></td>
      <td><%= @client.email %></td>
      <td><%= @client.address %></td>
      <td><%= @client.cnic %></td>
      <td><%= @client.phone_number %></td>
      <td><%= @client.projects.name %></td>
    </tbody>
  </table>

  <h1>Projects</h1>

  <div>
    <% @client.projects.each do |project| %>
      <p><%= project.name %></p>
    <% end %>
  </div>
  
  <%= link_to fa_icon('arrow-left', text: 'Back'), clients_manager_users_path, class: 'btn btn-info' %>
  <%= link_to fa_icon('pencil-square-o', text: 'Edit Profile'), edit_client_manager_user_path, class: 'btn btn-info' %>
</div>
