<% content_for :title, 'Create Client' %>

<div class='container'>
  <h1>User</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Cnic</th>
        <th>Phone Number</th>
        <th colspan='3'></th>
      </tr>
    </thead>

    <tbody>
      <td><%= @manager.name %></td>
      <td><%= @manager.email %></td>
      <td><%= @manager.address %></td>
      <td><%= @manager.cnic %></td>
      <td><%= @manager.phone_number %></td>
    </tbody>
  </table>

  <%= link_to 'Edit', edit_manager_user_path, class: 'btn btn-info' %>
  <%= link_to 'Back', clients_manager_users_path, class: 'btn btn-info' %>
</div>
