<tr id="payment_row_<%= payment.id %>">
  <td><%= payment.details %></td>
  <td><%= payment.amount %></td>
  <td><%= date_format(payment.date) %></td>
  <td>
    <div>
      <%= link_to fa_icon('pencil-square-o'), generic_path_method('edit', 'project_payment', {project_id: payment.project.id, id: payment.id}), remote: true, class: 'col-md-6', title: 'Edit' %>
      <%= link_to fa_icon('trash'), generic_path_method('destroy', 'project_payment', {project_id: payment.project, id: payment}), method: :delete, data: { confirm: 'Are you sure?', remote: true }, class: 'delete col-md-6', title: 'Delete' %>
    </div>
  </td>
</tr>
