<table class='table table-hover table-bordered'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role.capitalize %></td>
        <td>
          <% if !user.admin? %>
            <% if user.enable? %>
              <%= link_to fa_icon('lock'), change_user_status_admin_user_path(user.id), method: :patch, data: { confirm: 'Are you sure?' }, class: 'col-md-6', title: 'Disable User' %>
            <% else %>
              <%= link_to fa_icon('unlock'), change_user_status_admin_user_path(user.id), method: :patch, data: { confirm: 'Are you sure?' }, class: 'col-md-6', title: 'Enable User' %>
            <% end %>
            <%= link_to fa_icon('eye'), admin_user_path(user), class: 'col-md-6', title: 'See Profile' %>
            <%= link_to fa_icon('pencil-square-o'), edit_admin_user_path(user), class: 'col-md-6', title: 'Edit Profile' %>
            <%= link_to fa_icon('trash'), admin_user_url(user.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'col-md-6', title: 'Delete' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users %>
