<div class='container'>
  <%= link_to 'Create Client', new_client_admin_users_path %>
  <h1>Clients</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Projects</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td><%= client.name %></td>
          <td><%= client.email %></td>
          <td><%= link_to 'Show Profile', show_client_admin_user_url(client.id), method: :get, class: 'btn btn-success' %></td>
          <td><%= link_to 'Edit Profile', edit_client_admin_user_url(client.id), method: :get, class: 'btn btn-success' %></td>
          <td><%= link_to 'Delete Profile', destroy_client_admin_user_url(client.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>
