<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><% if user.enable? %>
                <b> Enable </b> <%= link_to 'Disable?', change_user_status_admin_user_path(user.id), method: :patch, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
              <% else %>
                <b> Disable </b> <%= link_to 'Enable?', change_user_status_admin_user_path(user.id), method: :patch, data: { confirm: 'Are you sure?' }, class: 'btn btn-success' %>
              <% end %>
        </td>
        <td><%= link_to 'Edit Profile', edit_admin_user_url(user.id), method: :get, class: 'btn btn-success' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
