<% content_for :title, 'User Profile' %>

<div class='container'>
  <%= link_to fa_icon('arrow-left'), admin_users_path, class: 'btn btn-info' %>
  <%= link_to fa_icon('pencil-square-o'), edit_admin_user_path, class: 'btn btn-info' %>
  <h3>Details:</h3>
    <div class='shadow p-3 mb-5 mt-2 bg-white rounded'>
      <p><span><b>Name: </b></span><%= capitalize(@user.name) %></p>
      <p><span><b>Email: </b></span><%= capitalize(@user.email) %></p>
      <p><span><b>Role: </b></span><%= capitalize(@user.role) %></p>
      <p><span><b>Address: </b></span><%= capitalize(@user.address) %></p>
      <p><span><b>Cnic: </b></span><%= capitalize(@user.cnic) %></p>
      <p><span><b>Phone Number: </b></span><%= capitalize(@user.phone_number) %></p>
    </div>
</div>
